.header {
  height: 60px;
  padding: 14px;
}

.TableObject-item {
  display: table-cell;
  width: 1%;
  white-space: nowrap;
  vertical-align: middle;
}

.text-right {
  text-align: right !important;
}
